@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
     margin: 0 auto;
     padding: 0;
     overflow-x: hidden;
     color: #1E1E1E;
     font-size:18px;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
}
