@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
     margin: 0 auto;
     padding: 0;
     overflow-x: hidden;
     color: #1E1E1E;
     font-size:17px;
     box-sizing: border-box;
     font-family: 'Montserrat', sans-serif !important;
}

h1{
     font-size:40px;
}

h2{
     font-size:28px !important;
     font-weight: 700 !important;
}

nav ul li a:hover{
    border-bottom: 2px solid #fff;
}

@media screen and (min-width:480px) {
     *{
          font-size:18px;
     }

     h1{
          font-size:54px;
     }

     h2{
          font-size:32px !important;
          font-weight: 700 !important;
     }

}

